﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Main Menu</h1>
    <br /><br />
    <div>
        <a asp-page="Questionnaire/Create" class="btn btn-primary">Enter New Questionnaire</a>
    </div>
    <br />
    <div>
        <a asp-page="Questionnaire/Search" class="btn btn-success">Search/Edit Questionnaire</a>
    </div>
    <br />
    <div>
        <a asp-page="Questionnaire/Export" class="btn btn-danger">Export Questionnaire Data</a>
    </div>
    <br />
</div>
