﻿@page
@model MPEPromo.Pages.Questionnaire.CreateModel
@{

}

<div>
    <form method="post">

        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">
                <div class="row">

                    <div class="col-sm-3 col-form-label-lg">
                        <label>Store Number: </label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Sign_Array[0].StoreNum" maxlength="6" class="form-control" style="border:none;border-bottom:2px solid"/>
                    </div>

                    <div class="col-sm-2 col-form-label-lg">
                        <label>Wave: </label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Sign_Array[0].Wave" maxlength="4" class="form-control" style="border:none;border-bottom:2px solid" />
                    </div>

                </div>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger">
        </div>

        <table class="table table-bordered table-hover border-collapse:collapse" style="border:double">

            <thead>
                <tr>
                    <th colspan="1"></th>
                    <th colspan="4" style="text-align:center;border-left:double">Brand Id on Sign</th>
                    <th colspan="8" style="text-align:center;border-left:double">Location of Sign</th>
                    <th colspan="4" style="text-align:center;border-left:double;border-right:double">Sign Message</th>
                </tr>
                <tr>
                    <th></th>
                    <th style="border-left:double">None</th>
                    <th>Newport</th>
                    <th>Camel</th>
                    <th>Both</th>

                    <th style="border-left:double">None</th>
                    <th>Outdoor at Gas Pump</th>
                    <th>Window/Door Outside</th>
                    <th>Outdoor Other</th>
                    <th>Indoor Merch Rack</th>
                    <th>Indoor Ceiling</th>
                    <th>Window/Door Inside</th>
                    <th>Indoor Other</th>

                    <th style="width:20px;border-left:double">Pack Discount Amount</th>
                    <th>Carton Discount Amount</th>

                    <th>Pack Selling Amount</th>
                    <th>Carton Selling Amount</th>

                    <th style="border-left:double;border-top:double"># Signs at Store Today</th>
                </tr>
            </thead>
            <tbody>
                @for (var j = 101; j <= 111; j++)
                {
                    <tr>
                        <th scope="row">@j</th>

                        <td style="border-left:double;background-color:lightgray"><input asp-for="Sign_Array[j-101].Brand_ID" type="radio" id="ID[@j]" value="0" checked /></td>
                        <td><input asp-for="Sign_Array[j-101].Brand_ID" type="radio" id="ID[@j]" value="1" /></td>
                        <td><input asp-for="Sign_Array[j-101].Brand_ID" type="radio" id="ID[@j]" value="2" /></td>
                        <td><input asp-for="Sign_Array[j-101].Brand_ID" type="radio" id="ID[@j]" value="3" /></td>

                        <td style="border-left:double;background-color:lightgrey"><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="0" checked  /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="1" /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="2" /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="3" /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="4" /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="5" /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="6" /></td>
                        <td><input asp-for="Sign_Array[j-101].Location" type="radio" id="LOC[@j]" value="7" /></td>

                        <td style="border-left:double"><input asp-for="Sign_Array[j-101].Pack_Disc" type="text" id="PRICE[@j]" style="width:80px" placeholder="0" /></td>
                        <td><input asp-for="Sign_Array[j-101].Carton_Disc" type="text" id="PRICE[@j]" style="width:80px" placeholder="0" /></td>
                        <td><input asp-for="Sign_Array[j-101].Pack_Sell" type="text" id="PRICE[@j]" style="width:80px" placeholder="0" /></td>
                        <td><input asp-for="Sign_Array[j-101].Carton_Sell" type="text" id="PRICE[@j]" style="width:80px" placeholder="0" /></td>
                        <td style="border-left:double"><input asp-for="Sign_Array[j-101].NumSigns" type="text" id="PRICE[@j]" style="width:80px" placeholder="0" /></td>

                    </tr>
                }

            </tbody>

        </table>



        <table class="table table-bordered table-hover" style="border:double">

            <thead>
                <tr>
                    <th style="width:80px">Description</th>
                    <th style="width:80px">Pack Selling Price</th>
                    <th style="width:80px">Tax Inluded</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th scope="row">Newport Menthol Box (320)</th>
                    <td><input asp-for="Sign_Array[11].Pack_Sell" type="text" style="width:80px" placeholder="0" /></td>
                    <td><input asp-for="Sign_Array[11].Tax" type="checkbox" /></td>
                </tr>
                <tr>
                    <th scope="row">Camel Blue Box (510)</th>
                    <td><input asp-for="Sign_Array[12].Pack_Sell" type="text" style="width:80px" placeholder="0" /></td>
                    <td><input asp-for="Sign_Array[12].Tax" type="checkbox" /></td>
                </tr>
                <tr>
                    <th scope="row">Marlboro Red Box (430)</th>
                    <td><input asp-for="Sign_Array[13].Pack_Sell" type="text" style="width:80px" placeholder="0" /></td>
                    <td><input asp-for="Sign_Array[13].Tax" type="checkbox" /></td>
                </tr>

            </tbody>

        </table>




        <table class="table table-bordered table-hover" style="border:double">

            <thead>

                <tr>
                    <th colspan="3"></th>
                    <th colspan="4" style="text-align:center">Sign Message</th>
                </tr>
                <tr>
                    <th colspan="3"></th>
                    
                    <th >Pack Discount Amount</th>
                    <th>Carton Discount Amount</th>

                    <th>Pack Selling Amount</th>
                    <th>Carton Selling Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" colspan="3">Marlboro 2Pk Promo Sign (43A)</th>
                    <td><input asp-for="Sign_Array[14].Pack_Disc" type="text" style="width:80px" placeholder="0" /></td>
                    <td><input asp-for="Sign_Array[14].Carton_Disc" type="text" style="width:80px" placeholder="0" /></td>
                    <td><input asp-for="Sign_Array[14].Pack_Sell" type="text" style="width:80px" placeholder="0" /></td>
                    <td><input asp-for="Sign_Array[14].Carton_Sell" type="text" style="width:80px" placeholder="0" /></td>
                </tr>


            </tbody>

        </table>




        <br />
        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-md" />
                <a asp-page="/Index" class="btn btn-success btn-md">Cancel</a>
            </div>
        </div>


    </form>

</div>
