﻿@page
@model MPEPromo.Pages.Questionnaire.ExportModel
@{

}

<br />
<h2>Export</h2>
<br />

<div style="border:1px solid #bbb9b9; border-radius:5px;">
    <form method="post">


        <br />

        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">
                <div class="row">

                    <div class="col-sm-5">
                        <label asp-for="@Model.waveInput"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model.waveInput" maxlength="4" class="form-control" />
                        <span asp-validation-for="@Model.waveInput" class="text-danger"></span>
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-sm-12">
                        <b>File will be exported to: s:/MPEPromo as MPEPromo_Data"wave".txt</b>
                    </div>

                </div>
            </div>
        </div>

        <br />
        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">

                    <button asp-page-handler="Export" class="btn btn-md btn-danger">Export Data</button>


                    <a asp-page="/Index" class="btn btn-success btn-md">Cancel</a>


            </div>
        </div>
        <br />
    </form>
</div>

