﻿@page
@model MPEPromo.Pages.Questionnaire.SearchModel
@{
    ViewData["Title"] = "Search";
}

<br />
<h2>Search</h2>
<br />


<div style="border:1px solid #bbb9b9; border-radius:5px;">
    <form method="post">


        <br />

        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">
                <div class="row">

                    <div class="col-sm-2">
                        <label asp-for="@Model.storeInput"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model.storeInput" maxlength="6" class="form-control" />
                        <span asp-validation-for="@Model.storeInput" class="text-danger"></span>
                    </div>

                    <div class="col-sm-1">
                        <label asp-for="@Model.waveInput"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model.waveInput" maxlength="4" class="form-control" />
                        <span asp-validation-for="@Model.waveInput" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <div class="row" style="padding-left:50px; padding-top:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <button asp-page-handler="Search" class="btn btn-sm btn-primary">Search</button>
                    </div>
                    <div class="col-sm-6">
                        <a asp-page="/Index" class="btn btn-success btn-sm">Main Menu</a>
                    </div>
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
        <br />
    </form>
</div>


@if (Model.MPEPromo_Records.Count() > 0)
{

    <form method="post">
        <div>
            <br />
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.MPEPromo_Records.FirstOrDefault().StoreNum) (@Model.MPEPromo_Records.Count())
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MPEPromo_Records.FirstOrDefault().Wave)
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model.MPEPromo_Records)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.StoreNum)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Wave)
                        </td>
                        <td>
                            <a asp-page="./GetStore" asp-route-storeInput="@item.StoreNum" asp-route-waveInput="@item.Wave" class="btn btn-sm btn-success">Get Store</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </form>
}
else
{
    <p>No Questionnaires Found.</p>
}


